<div class="main-page">
  <div class="calendar-container">
    <%= render CalendarComponent.new(year: @year, month: @month, daily_totals: @daily_totals) %>
  </div>
  <div class="spending-form-container">
    <%= render SpendingFormComponent.new(spending: Spending.new) %>
  </div>
</div>
